<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UITestFromIPA.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00B5BEC92A16A759001FF869</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00B5BEDF2A16A75A001FF869</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00B5BEE92A16A75A001FF869</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
